<launch>

<group ns="field">
 	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
       <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="camera_info_url" type="string" value="package://sparki_bringup/data/calibration_data/ost.yaml" />
        <param name="camera_name" type="string" value="usb_cam" />

		<remap from="/usb_cam/image_raw" to="image_color"/>
		<remap from="/usb_cam/camera_info" to="camera_info"/>

    </node>


	<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>
</group>

</launch>
