
<launch>

  <!-- Kamera pertama -->
  <group ns="field1">
    <!-- Argumen untuk marker dan kamera pertama -->
    <arg name="marker_resolution" default="20"/>
    <arg name="marker_size" default="10" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="usb_cam1/image_raw" />
    <arg name="cam_info_topic" default="usb_cam1/camera_info" />
    <arg name="output_frame" default="/usb_cam1" />

    <!-- Node ARTrackAlvar untuk kamera pertama -->
    <node name="ar_track_alvar1" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
  </group>

  <!-- Kamera kedua -->
  <group ns="field2">
    <!-- Argumen untuk marker dan kamera kedua -->
    <arg name="marker_resolution" default="20"/>
    <arg name="marker_size" default="10" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="usb_cam2/image_raw" />
    <arg name="cam_info_topic" default="usb_cam2/camera_info" />
    <arg name="output_frame" default="/usb_cam2" />

    <!-- Node ARTrackAlvar untuk kamera kedua -->
    <node name="ar_track_alvar2" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
  </group>

</launch>
